<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Customer Page</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
  <!-- <link rel="stylesheet" href="{{url_for('static',filename='myfont/css/all.min.css')}}"> -->
  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>

  <style media="screen">
    .option {
      margin-top: 25%;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="col-md-offset-2 col-md-8">
      <h2 class="page-header text-primary text-center">Welcome to Sign Language to Text Converter !!!</h2>
      <div class="col-md-offset-4 col-md-4">
        <a style="margin-top:25%;" href="/signtotext" class="btn btn-lg btn-primary btn-success btn-block option">Convert Sign</a>
        <a style="margin-top:10%;" href="/texttosign" class="btn btn-lg btn-warning btn-block option">Convert Text</a>
        <a style="margin-top:10%;" href="{{url_for('logout')}}" class="btn btn-danger btn-block option">Logout</a>
      </div>
    </div>
</body>

</html>
