<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sign to Text</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
</head>

<body>
  <div class="col-md-offset-2 col-md-8">
    <h2 class="page-header text-primary text-center">Sign to Text Converter</h2>
    <div class="col-md-offset-4 col-md-4">
      <a href="/homepage" class="btn btn-danger btn-block">Homepage</a>
    </div>
    <div style="margin-top:50%;text-align:center;">
      <a href="" class="btn btn-primary btn-success">Capture Sign</a>
    </div>
</body>

</html>
