<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Text to Sign</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
  </head>
  <body>
    <div class="col-md-offset-2 col-md-8">
        <h2 class="page-header text-primary text-center">Text to Sign Converter</h2>
        <div class="col-md-offset-4 col-md-4">
        <a href="/homepage" class="btn btn-danger btn-block">Homepage</a>
      </div>
      <div style="margin-top:40%" class="col-md-offset-3 col-md-6">
          <input type="text" placeholder="Enter text to convert" class="form-control">
          <a href="" class="btn btn-success btn-block" style="margin-top:5%;">Convert</a>
      </div>
  </body>
</html>
